# Ambiente virtual
venv/
.env

# Arquivos de cache e compilação
__pycache__/
*.pyc
*.pyo

# Configurações de IDEs
.vscode/
.idea/
*.sublime-workspace

# Banco de dados SQLite (se estiver usando)
*.sqlite3
*.db

# Logs
logs/
*.log
