body {
    background-image: url("imagens/wallpaper.jpg");
    background-repeat: repeat;
}

#tabelaTarefas{
    th,td{
        background-color: transparent;
    }
}

#msgData{
    font-size:small;
    color: red;
    display: none;
}