{% extends "layout.html" %}

{% block body %}

    <div class="container mt-3">
        <div class="col-lg-4 col-md-8 col-sm-12 text-center mx-auto">

            <form method="post" action="">

                <input name="id" type="number" value="{{tarefa.id}}" hidden>

                <div class="mb-3">
                    <label for="titulo" class="form-label"><b>Título</b></label>
                    <input value="{{tarefa.titulo}}" class="form-control" name="titulo" type="text" required>
                </div>
                <div class="mb-3">
                    <label for="data" class="form-label"><b>Data</b></label>
                    <input id="data" value="{{tarefa.data}}" class="form-control" name="data" type="text" required>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label"><b>Descrição</b></label>
                    <textarea rows="3" class="form-control" name="descricao" type="textarea" required>{{tarefa.descricao}}</textarea>
                </div>
                <button class="btn btn-primary" type="submit"><b>ENVIAR</b></button>
            </form>

        </div>
    </div>

{% endblock %}