{% extends "layout.html" %}

{% block body %}

    <div class="container mt-3 mb-3">
        <div class="col-12 d-flex">
            <div class="col-6 text-center">
                <a class="btn btn-primary" href="/criarTarefa"><b>NOVA TAREFA</b></a>
            </div>
            <div class="col-6 text-center">
                <select class="w-50 mx-auto form-select text-center" type="text" id="filtro">
                        {% for i in {"-1":"TODAS" , "0": "NÃO CONCLUÍDAS" , "1": "CONCLUÍDAS" }.items() %}
                            {% if filtro == i[0] %}
                                <option type="text" selected value="{{i[0]}}">{{i[1]}}</option>
                            {% else %}
                                <option type="text" value="{{i[0]}}">{{i[1]}}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>    
        </div>
    </div>
    <table class="table text-center" id="tabelaTarefas"></table>

{% endblock %}